.div-form {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;

}

.form-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 2vh 5vw;

}

.imagenformulario {
    background-image: url(../../assets/image/img-form.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
}

.welcome {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.05em;
    color: #1F1F1F;
}

.tex-form {
    width: 70%;
    left: 168px;
    top: 215px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    color: rgba(31, 31, 31, 0.75);

}

.anchor-form {
    font-family: sans-serif;
    color: #F472B6;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;



}


input {
    border: none;
    width: 40%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    color: #1F1F1F;
    outline: none;

}

fieldset {
    width: 60%;
    height: 48px;
    border-radius: 10px;

}

legend {
    color: #F472B6;
    text-align: left;
    margin-left: 20px;
}

/* .checkbox-form{
    
    width: 600px;
    height: 48px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: ;
    align-items: center;
} */
.button-form {
    background: linear-gradient(153.39deg, #F9A8D4 -13.9%, #F472B6 58.69%);
    padding: 0 7px 0 7px;
    width: 60%;
    height: 48px;
    border-radius: 10px;
    color: white;
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 5px 5px 4px rgb(238, 191, 61);
    margin-bottom: 8px;
}

.button-form-google {
    width: 60%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 7px 0 7px;
    background-color: transparent;
    border: solid 1px black;
    border-radius: 10px;
    color: rgba(31, 31, 31, 1);
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    gap: 10px;
}

.google {
    width: 24px;
    height: 24px;
}

.prueba {
    float: right;
}

.prueba2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

@media (max-width:800px) {
    .imagenformulario {
        display: none;
    }

    .form-container {
        width: 100%;
        height: 100%;
    }

    .legend {
        text-align: center;
        
    }
}